__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
tests/
.vscode/
.git/
node_modules/
package-lock.json
package.json
LICENSE
README.md
Dockerfile
.dockerignore
